/* .cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.5em 0.8em 1.2em !important;
    color: rgb(255, 255, 255) !important;
    background: #ad5389;
    background: linear-gradient(0deg, rgb(18, 7, 38) 0%, rgb(0, 0, 0) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgb(0, 0, 0);
    letter-spacing: 0.05em;
    border-radius: 10px !important; 
    margin-bottom: 10px;

  }
  .cennnnn{
    max-width: 400px !important;
    padding: 10px;
    overflow: scroll;
 height: 40px;

  }
  
  .cssbuttons-io-button svg {
    margin-right: 8px;
  }
  
  .cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em rgb(240, 238, 242);
  }
  
  .cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em rgb(160, 109, 255);
  }
  .dropzone-container {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
  }
   */

.inputstyle2 {
  width: 100%;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 30px;
  height: 40px;
  font-size: 18px;
  margin: 10px 0px;
  padding: 0px 10px;
  color: white;
  outline: none;

  option {
    background-color: rgb(106, 62, 145);
  }
}

.css-1dydcym-MuiTableCell-root {
  padding: 5px !important;
}

Table {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.box-animation {
  animation: fadeIn2 0.5s ease-in-out forwards;
}

.chat-animation {
  animation: fadeIn3 0.7s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  from {
    opacity: 0;
    scale: 0.98;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn3 {
  from {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  border-radius: 30px !important;
  background-color: rgba(0, 0, 0, 0) !important;
  backdrop-filter: blur(4px);
  /* Blurs the background */
  -webkit-backdrop-filter: blur(4px);
  /* For Safari support */
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  background-color: rgba(0, 0, 0, 0) !important;
}

.cntr5 {
  display: flex;
  justify-content: space-between;
}