
.contact-container{
    display: flex;
    justify-content: space-around;
}
.text-fields{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    div{
        width: 100%;
    }
    input, textarea{
        width: 100%;
        height: 45px;
        padding: 15px;
        border-radius: 5px;
        border: none;
        outline: none;
        margin-bottom: 20px;
    }
    textarea{
        height: 130px;
    }
    button{
        color: royalblue;
        background-color: white;
        padding: 5px 50px;
    }
}
.cntr{
    display: flex;
    justify-content: center;
}
.contact-pic{
    text-align: right;
    img{
        width: 90%;
        margin-top: 100px;
    }
}

/* Color Strips */
.strip1{
    position: fixed;
    top: 300px;
    left: -80px;
    height: 100px;
    width: 1000px;
    rotate: -45deg;
    background-color: #69AFD6;
    z-index: 2;
}
.strip2{
    position: fixed;
    top: 100px;
    left: -140px;
    height: 200px;
    width: 1000px;
    rotate: -45deg;
    background-color: #656869;
    z-index: 2;
}
.strip3{
    position: fixed;
    top: 100px;
    left: -420px;
    height: 200px;
    width: 1000px;
    rotate: -45deg;
    background-color: #292829;
    z-index: 2;
}