/** @format */

.background-container-wires {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: url("../../Accets/wires\ background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-container-wires {
  text-align: center !important;
  color: white;
}

.text-primary-wires {
  margin-bottom: 10px;
  display: block !important;
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-secondary-wires {
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
/*  */
.wirespage-cuto-image {
  width: 34px;
  height: 47px;
  position: relative;
  top: 18px;
  left: -5px;
}
.wirespage-textslide {
  margin: 3rem 7rem;
  color: #000;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.wirespage-custo-span {
  color: #c50568;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.wirespage-spantext {
  color: #c50568;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* wirepage slider */
.wirespage-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.left-side-text {
  flex-shrink: 0;
  width: 100px;
  padding-right: 20px;
}

.wirespage-marquee {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.marquee-content {
  display: flex;
  gap: 10px;
  animation: marquee 10s linear infinite;
  align-items: center;
  padding-left: 20px;
}

.marquee-item {
  min-width: 150px;
}

.marquee-item img {
  display: block;
  width: 100px;
  height: 100px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* wires product */
.wiresproducts-container {
  width: 80%;
  margin: 90px 120px;
  font-family: Arial, sans-serif;
}

.wiresproducts-container > h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

.highlight {
  color: #ff0066; /* The pink color */
}

.wiresproducts-list {
  list-style: none;
  padding: 0;
  margin-top: 40px;

}

.wiresproducts-list li {
  display: flex;
  align-items: center;
  font-size: 16px;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.wiresproduct-icon {
  color: #1E2D4D; /* The pink color for icon */
  margin-right: 10px;
}

.wiresproducts-list li:hover {
  background-color: #f9f9f9;
}

.wirelogo-table{
    width: 34px;
    height: 47px;
    position: relative;
    top: 19px;
    left: -10px;
}
.wirepage-items-text{
    font-size: 20px;
}

@media screen and (max-width: 768px) {
  .background-container-wires {
    height: max-content;
  }
  .text-primary-wires {
    font-size: 22px;
  }
  .text-secondary-wires {
    font-size: 17px;
  }
  .wirespage-textslide{
    margin: 1rem 1rem;
    font-size: 20px;
  }
  .wirespage-custo-span{
    font-size: 20px;
  }
  .wiresproducts-container {
    width: 80%;
    margin: 50px 30px;
  }
  .wiresproducts-container > h2  {
    font-size: 20px;
  }

  .wiresproducts-list li {
    font-size: 14px;
  }
}
